{% extends 'baseAdmin.html.twig' %}
{% block supcontent %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Actualitéss </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a class="kt-subheader__breadcrumbs-link">
                    Ajout </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">

        <div class="kt-portlet__body">
            {{ form_start(form, {'attr': {'class': 'kt-form'}}) }}
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    <div class="kt-section kt-section--first">
                        <div class="form-group row">
                            <label class="col-3 col-form-label"> Gestion des Agences :</label>
                            <div class="col-9">
                                {{ form_widget(form.ajouter , {'label':'modifier','attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}