{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    <a href="{{ path('afficherp') }}" class ="btn btn-primary btn-xs" id="yes">Annuler</a>

{% endblock %}