{% extends 'baseAdmin.html.twig'%}
{% block title %}Ajout Pub{% endblock %}

{% block content %}
{% block table %}
    <h1>AJOUT Publicite</h1>
    {{ form(ajouterpub) }}
{% endblock %}
{% endblock %}