{% extends 'baseAdmin.html.twig'%}
{% block title %}Ajout Promotion Hotel{% endblock %}
{% block content %}
{% block table %}
    <h1>AJOUT EQuipement</h1>
    {{ form(updatepub) }}
{% endblock %}
{% endblock %}