{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alert alert-success">
        <div class="alert-text">
            <h4 class="alert-heading">Bienvenue !</h4>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            <hr>
        </div>
    </div>
{% endblock fos_user_content %}
