{% extends 'base.html.twig' %}
{% block test %}
{% endblock %}
{% block content %}
<script src="{{ asset ('jquery/jquery-3.3.1.js') }}"></script>
<section id="intro1" class="clearfix">
</section>

<div>
<h1>CREATE RECLAMATION</h1>
{{ form_start(form) }}
    {{form_widget(form.contenu, {'attr': {'class': "ckeditor",'placeholder': "contenu",'required':"true"}})}}

{{ form_end(form) }}
    </div>
{% endblock %}