<div id="mgs">
    <table class="table table-striped- table-bordered table-hover table-checkable" >

        <tbody>

        {% for post in disc %}
            <tr>
                {% if post.dest == 0 %}
                    <td>{{ post.idAdmin }}</td>
                {% else %}
                    <td>{{ post.idEmp }}</td>
                {% endif %}
                <td>{{ post.mgs }}</td>

            </tr>


        {% endfor %}

        </tbody>
    </table>
<script>

    </script>
</div>