.list {
    background: lightblue;
    width: 250px;
    position: relative;
    display: inline-block;
    float: left;
}
.nom{
    color: black;
}
.message {
    background: lightblue;
    width: 500px;
    position: relative;
    display: inline-block;
    float: left;
}
.pub {
    background:#dd6666;
    width: 250px;
    height: auto;
    position: relative;
    display: inline-block;
    float: left;
}
.lv {
    width: 350px;
    height: 600px;
    position: relative;
    display: inline-block;
    float: left;
}