{% extends 'base.html.twig' %}
{% block test %}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ asset('css/design.css') }}">

    <script src="{{ asset ('jquery/jquery-3.3.1.js') }}"></script>
    <section id="intro1" class="clearfix">
    </section>



{% endblock %}
{% block footer %}

    <footer id="footer" class="section-bg">
        <div class="container">
            <div class="copyright">
                <section>
                    <table  id="idRR">

                        <thead>



                        </thead>
                        <tbody>


                            <tr>



                            <td>

                            </tr>


                        </tbody>
                    </table>

                    <script>
                        $(function () {
                                    $("#idRR tbody tr").click( function () {
                                        var tableData = $(this).children("td").map(
                                            function () {
                                                return $(this).text();
                                            }
                                        ).get();
                                        var td=tableData[0];

                                    } );








                                });











                    </script>



                </section>
                &copy; Copyright <strong>The Crows</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
{% endblock %}