{% extends 'base.html.twig' %}



{% block content %}
    <section id="intro1" class="clearfix">
    </section><!-- #intro -->
    <section id="testimonials" class="clearfix"/>
    <div class="container">
        <body>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
            <div class="row">
                <div class="col-lg-6">


                    <div class="kt-section__content">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>

                                <th>OBSERVATION</th>
                                <th>VERDICT</th>


                            </tr>
                            </thead>
                            <tbody>


                            {% for jugement in jugements %}
                                <tr>


                                    <td>{{ jugement.Observation() }}</td>
                                    <td>{{ jugement.Verdict() }}</td>


                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>


        </div>

    </div>
    </div>

    </body>
{% endblock %}
